<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>mailcontroller.serverapp.SendMailServlet</servlet-class>
        <init-param>
            <param-name>mailserver_properties_filename</param-name>
            <param-value>mailserver.properties</param-value>
        </init-param>
        <init-param>
            <param-name>dbhandler_properties_filename</param-name>
            <param-value>queries.properties</param-value>
        </init-param>
        <init-param>
            <param-name>logger_execute_query_name</param-name>
            <param-value>log_mail_sending_attempt</param-value>
        </init-param>
        <init-param>
            <param-name>ip_verification_query_name</param-name>
            <param-value>ip_verification</param-value>
        </init-param>
        <init-param>
            <param-name>sender_ig</param-name>
            <param-value>chennai.ignite@tcs.com</param-value>
        </init-param>
        <init-param>
            <param-name>sender_ts</param-name>
            <param-value>chennai.touchstone@tcs.com</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UploadFiles</servlet-name>
        <servlet-class>mailcontroller.serverapp.UploadFiles</servlet-class>
        <init-param>
            <param-name>createFileIdQuery</param-name>
            <param-value>createfileid_for_attachment</param-value>
        </init-param>
        <init-param>
            <param-name>getFileId</param-name>
            <param-value>getfile_id</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SendMailServletWithAttachment</servlet-name>
        <servlet-class>mailcontroller.serverapp.SendMailServletWithAttachment</servlet-class>
        <init-param>
            <param-name>mailserver_properties_filename</param-name>
            <param-value>mailserver.properties</param-value>
        </init-param>
        <init-param>
            <param-name>dbhandler_properties_filename</param-name>
            <param-value>queries.properties</param-value>
        </init-param>
        <init-param>
            <param-name>logger_execute_query_name</param-name>
            <param-value>log_mail_sending_attempt</param-value>
        </init-param>
        <init-param>
            <param-name>ip_verification_query_name</param-name>
            <param-value>ip_verification</param-value>
        </init-param>
        <init-param>
            <param-name>sender_ig</param-name>
            <param-value>chennai.ignite@tcs.com</param-value>
        </init-param>
        <init-param>
            <param-name>sender_ts</param-name>
            <param-value>chennai.touchstone@tcs.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/sendmail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFiles</servlet-name>
        <url-pattern>/UploadFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServletWithAttachment</servlet-name>
        <url-pattern>/sendmailwithattachment.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Checks</web-resource-name>
            <description/>
            <url-pattern>/sendmail.do</url-pattern>
            <url-pattern>/UploadFiles</url-pattern>
            <url-pattern>/sendmailwithattachment.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
    </security-constraint>
</web-app>
